crs-filesystem-folder {
    --cl-file: cornflowerblue;
    --cl-folder: #ff0080;
    --cl-image: #00bcd4;
    user-select: none;
}

crs-filesystem-folder ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
}

crs-filesystem-folder li {
    display: flex;
    align-items: center;
    height: 2rem;
}

crs-filesystem-folder li * {
    pointer-events: none;
}

crs-filesystem-folder li:hover {
    background: #f4f4f4;
}

crs-filesystem-folder li svg {
    margin: 0 1rem;
}

crs-filesystem-folder li div {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 1rem;
}

crs-filesystem-folder .chevron {
    margin-left: 0;
    cursor: pointer;
    fill: var(--cl-folder);
}

crs-filesystem-folder .folder-nav {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    line-height: 2rem;
    color: var(--cl-folder);
}

crs-filesystem-folder [data-type="#file"] {
    fill: var(--cl-file);
}

crs-filesystem-folder [data-type="#folder"] {
    fill: var(--cl-folder);
}

crs-filesystem-folder [data-type="#image"] {
    fill: var(--cl-image);
}

crs-filesystem-folder [data-type="#file"] .chevron, crs-filesystem-folder [data-type="#image"] .chevron {
    display: none;
}

crs-filesystem-folder [hidden] {
    display: none;
}

crs-filesystem-folder .stretch {
    flex: 1;
}

crs-filesystem-folder .pointer {
    cursor: pointer;
}

crs-filesystem-folder #filemenu {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: max-content;
    height: max-content;
    background: white;
    filter: drop-shadow(0px 0px 5px #00000050);
    padding: 0.5rem 0;
}

crs-filesystem-folder #filemenubackground {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: transparent;
}

crs-filesystem-folder #filemenu li {
    padding: 0 0.5rem;
    cursor: pointer;
}